Code/TK1.Bizz.BrokerSL/Service References/BrokerFileServiceReference/BrokerFileService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://tk1.net.br/services/BrokerFileService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://tk1.net.br/services/BrokerFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tk1.net.br/services/BrokerFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TK1.Bizz.Data.Presentation" />
      <xsd:import schemaLocation="http://tk1.net.br/services/BrokerFileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BrokerFileService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="BrokerFileService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="BrokerFileService_LogCustomerAccess_InputMessage">
    <wsdl:part name="parameters" element="LogCustomerAccess" />
  </wsdl:message>
  <wsdl:message name="BrokerFileService_LogCustomerAccess_OutputMessage">
    <wsdl:part name="parameters" element="LogCustomerAccessResponse" />
  </wsdl:message>
  <wsdl:message name="BrokerFileService_SaveBrokerSiteAdPic_InputMessage">
    <wsdl:part name="parameters" element="SaveBrokerSiteAdPic" />
  </wsdl:message>
  <wsdl:message name="BrokerFileService_SaveBrokerSiteAdPic_OutputMessage">
    <wsdl:part name="parameters" element="SaveBrokerSiteAdPicResponse" />
  </wsdl:message>
  <wsdl:portType name="BrokerFileService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:BrokerFileService/DoWork" message="BrokerFileService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:BrokerFileService/DoWorkResponse" message="BrokerFileService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogCustomerAccess">
      <wsdl:input wsaw:Action="urn:BrokerFileService/LogCustomerAccess" message="BrokerFileService_LogCustomerAccess_InputMessage" />
      <wsdl:output wsaw:Action="urn:BrokerFileService/LogCustomerAccessResponse" message="BrokerFileService_LogCustomerAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBrokerSiteAdPic">
      <wsdl:input wsaw:Action="urn:BrokerFileService/SaveBrokerSiteAdPic" message="BrokerFileService_SaveBrokerSiteAdPic_InputMessage" />
      <wsdl:output wsaw:Action="urn:BrokerFileService/SaveBrokerSiteAdPicResponse" message="BrokerFileService_SaveBrokerSiteAdPic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>