trunk/Code/TK1.Bizz.BrokerSL/Service References/BrokerFileServiceReference/BrokerFileService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadPicture">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadPicture" nillable="true" type="tns:UploadPicture" />
  <xs:complexType name="PictureInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PicturePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThumbnaiPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PictureInfo" nillable="true" type="tns:PictureInfo" />
</xs:schema>